.sidebar {
    min-height: 91vh;
    background: linear-gradient(315deg, var(--color-white) 0%, var(--color-gradient-sky) 74%);
    box-shadow: 1px 0px 5px 1px var(--color-grey);
    transition: width 0.5s ease;

    .sidebar-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 10px;

        .icon-btn {
            color: var(--color-light-black);
        }
    }

    .sidebar-elements {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
        border: none;
        border-bottom: 1px solid var(--color-hover-sky);
        color: var(--color-light-black);
        padding: 5px 10px;
    
        > span:first-of-type {
            width: 90%;
            max-height: 24px;
            text-align: left;
            overflow: hidden;
        }
    
        > svg {
            font-size: 16px !important;
        }
    }
    
    .sidebar-elements:hover, .sidebar-elements:focus, .sidebar-elements:active, .el-selected {
        background-image: linear-gradient(to right, var(--color-hover-sky), var(--color-gradient-white));
        font-weight: 500;
    }
}

.sidebar-expanded {
    width: 18%;
}

.sidebar-collapsed {
    width: 3%;
}