.output-card{
    padding: 5px;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 8px;
    background-color: aliceblue;
    height: 65%;
}
.visulaization-selection{
    //position:absolute;
    // top:0;
    // right:0;
    display: flex-right;
}


