.app-scroll::-webkit-scrollbar {
    width: 7px; // For Vertical Scrolls
    background-color: var(--color-black) !important;
    height: 10px; // For Horizontal Scrolls
    border-radius: 5px;
  }
  
  .app-scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-light-black) !important;
    border: 2px solid transparent !important;
    border-radius: 9px !important;
    background-clip: content-box;
  }
  
  .app-scroll::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--color-light-black) !important;
    border-radius: 10px;
  }
  
  .app-scroll::-webkit-scrollbar-thumb:hover {
    width: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }