:root {

    // White Shades
    --color-white: #ffffff;
    --color-hover-white: #D4D1C6;
    --color-gradient-white: #e6e9ec;

    // Black Shades
    --color-light-black: #585656;

    // Grey Shades
    --color-grey: #a7a7a7;

    // Light Blue shades
    --color-hover-sky: #a5bbd2;
    --color-gradient-sky: #d7e1ec;
    --color-even-sky: #c8d6e4;
    --color-hover-even-sky:#b9cde2;
    --color-odd-sky: #dfe8f1;
}