.heading{
    color: "white";
    font-size: "12px";
    font-weight:"bolder";
}
.logo{
    width:30px;
    height:30px;
}
.navBar{
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
}
.header-elements{
color: rgba(255, 255, 255, 0.5);
text-decoration: none;
background-color: transparent;
padding: 10px;
}
.header-elements:hover{
    color:white;
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    }


